<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Form_TourDL.Properties.Settings.QL_tourDLConnectionString"
            connectionString="Data Source=MSI\MSIGAMMING;Initial Catalog=QL_tourDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Form_TourDL.Properties.Settings.QL_tour_Du_LịchConnectionString"
            connectionString="Data Source=MSI\MSIGAMMING;Initial Catalog=&quot;QL_tour Du Lịch&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>